<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>@Model["Bands"].GetName()</h2>
        <form  action="/band/@Model["Bands"].GetId()" method="post">
          <select  name="venue_id">
            @foreach(var allvenues in Model["allVenues"])
            {
              <option value="@allvenues.GetId()">@allvenues.GetName()</option>
            }
          </select>
          <button type="submit" name="button">Add Venue</button>

        </form>
      </div>
      <div class="jumbotron">
        <h2>Venue List!</h2>
        <ul>
          @if (Model["Venue"].Count !=0)
          {
            @foreach (var venue in Model["Venue"])
            {
              <form  action="/band/@Model["Bands"].GetId()/drop/@venue.GetId()" method="post"><li>
                <label for="drop@venue.GetId()"><h3>@venue.GetName()</h3></label>&nbsp&nbsp<input type="hidden" name="_method" value="DELETE"><button type="submit" name="button">Remove Venue</button></li></form>
            }
          }
          else
          {
            <p>
              No Venue has been added to the venue yet.
            </p>
          }
        </ul>
        <a href="/">Return Home</a>
      </div>
    </div>



  </body>
</html>
