<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>@Model["Band"].GetName()</h2>
        <form  action="/band/@Model["Band"].GetId()" method="post">
          <select  name="venue_id">
            @foreach(var allvenues in Model["allVenues"])
            {
              <option value="@allvenues.GetId()">@allvenues.GetName()</option>
            }
          </select>
          <button type="submit" name="button">Add Venue</button>

        </form>
      </div>
      <div class="jumbotron">
        <h2>Band List!</h2>
        <ul>
          @if (Model["Venue"].Count !=0)
          {
            @foreach (var venue in Model["Venue"])
            {
              <li>@venue.GetName()</li>
            }
          }
          else
          {
            <p>
              No Bands added to the venue yet.
            </p>
          }
        </ul>
      </div>
    </div>



  </body>
</html>
