<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h2>Portland Concerts!</h2>
      <a href="/bands">View All the Bands!</a>
      <p>
        Welcome to Portland's Concert page! have a look at all of our venues and what bands will be playing there.
      </p>
      <form action = "/venue/add" method = "post">
        <label for = "venue">Name</label>
        <input id = "venue" name = "venue" type = "text">
        <button type = "submit">Add Venue</button>
      </form>
    </div>
    <div class="jumbotron">
      <h2>Venues</h2>
      <ul>

        @if(Model.Count !=0)
        {
          @foreach(var venue in Model)
          {
            <li><a href="/venues/@venue.GetId()">@venue.GetName()</a> <a href="/update/@venue.GetId()"><button type="button" name="button">Update</button></a><form action="/venue/delete" method="post"><input type="hidden" name="_method" value="DELETE"><input type="hidden" name="venue_id" value="@venue.GetId()"><button type="submit" name ="button">Delete</button></form></li>
          }

        }
        else
        {
          <p>
            No Venues Added Yet!
          </p>
        }

      </ul>
    </div>

  </div>
</body>
</html>
