<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>@Model["Venue"].GetName()</h2>
      </div>
      <div class="jumbotron">
        <h2>Band List!</h2>
        <ul>
          @if (Model["Bands"].Count !=0)
          {
            @foreach (var bands in Model["Bands"])
            {
              <a href="/bands/["Bands"].GetId()">@bands.GetName()</a>
            }
          }
          else
          {
            <p>
              No Bands added to the venue yet.
            </p>
          }
        </ul>
      </div>
    </div>



  </body>
</html>
