<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>@Model["Venue"].GetName()</h2>
        <form  action="/venue/@Model["Venue"].GetId()" method="post">
          <select  name="band_id">
            @foreach(var allbands in Model["allBands"])
            {
              <option value="@allbands.GetId()">@allbands.GetName()</option>
            }
          </select>
          <button type="submit" name="button">Add Band</button>
        </form>
      </div>
      <div class="jumbotron">
        <h2>Band List!</h2>
        <ul>
          @if (Model["Bands"].Count !=0)
          {
            @foreach (var bands in Model["Bands"])
            {
              <li>@bands.GetName() &nbsp <a href="/band/remove/@bands.GetId()">Remove Band</a></li>
            }
          }
          else
          {
            <p>
              No Bands added to the venue yet.
            </p>
          }
        </ul>
        <a href="/">Return Home</a>
      </div>
    </div>



  </body>
</html>
